<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container">
    <h1>All Person List</h1>
    <div class="view-data">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Image</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.address }}</td>
                    <td>{{ person.mobile }}</td>
                    <td>{{ person.email }}</td>
                    <td><img src="{{ url_for('static', filename='images/' + person.image) }}" alt="Person Image"></td>
                    <td><button onclick="showPreview('{{ person.image }}')" class="view-button">Preview</button></td> <!-- Preview button -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="linkers">
        <a href="{{ url_for('index1') }}" class="view-button back">Back to Form</a>
        <a href="{{ url_for('index') }}" class="view-button back">Home Page</a>
    </div>
    </div>
</div>
<script>
    function showPreview(imageName) {
        // Construct the URL for the full-size image
        var imageUrl = "{{ url_for('static', filename='images/') }}" + imageName;
        // Open the full-size image in a new tab
        window.open(imageUrl, '_blank');
    }
</script>
</body>
</html>
